<!DOCTYPE>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="tbar"></div>

<div id="wrap">
	<div id="header">
		<div class="left">
			<a href="/"><h1>Blog it.</h1></a>
		</div>
		<div class="hbox2 right">
		</div>
	</div>
	
	<div id="content">
		<div class="entry">
			<div class="etitle">
				Login
			</div>
			<div class="epbody">
			<span class="error">{{error}}</span>
			<form method="post">
				<input name="username" type="text" placeholder="Username"><br>
				<input name="password" type="password" placeholder="Password"><br>
				<input type="submit"><br>
			</form>
			
			</div>
		</div>
	</div>
	
	<div id="footer">
		{{ndate}}&copy; 2013 My Blog
	</div>
	
</div>


</bodY>
</html>
